@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
}
body {
    background:black;
}

:host {
    background-color: purple;
    width: 236px;
    border: 1px solid #cbc9c9;
    display:block;
}

.result {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px 0 0 10px;
    border: 0.2px solid white;
}

.row {
    padding: 2px;
}

.buttons {
    padding: 0 10px 10px 10px;
}

button {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    width: 50px;
    // background-color: purple;
    border: 1px solid white;
    background: linear-gradient(180deg, white, #cbc9c9);
}