<div class="result">{{ result }}</div>

<div class="buttons">
  <div class="row"> 
    <button (click)="addToCalculation('7'); playAudio();">7</button>
    <button (click)="addToCalculation('8'); playAudio();">8</button>
    <button (click)="addToCalculation('9'); playAudio();">9</button>
    <button (click)="calculate('/'); playAudio();">/</button>
  </div>
  <div class="row"> 
    <button (click)="addToCalculation('4'); playAudio();">4</button>
    <button (click)="addToCalculation('5'); playAudio();">5</button>
    <button (click)="addToCalculation('6'); playAudio();">6</button>
    <button (click)="calculate('*'); playAudio();">X</button>
  </div>
  <div class="row"> 
    <button (click)="addToCalculation('1'); playAudio();">1</button>
    <button (click)="addToCalculation('2'); playAudio();">2</button>
    <button (click)="addToCalculation('3'); playAudio();">3</button>
    <button (click)="calculate('-'); playAudio();">-</button>
  </div>
  <div class="row"> 
    <button (click)="addToCalculation('0'); playAudio();">0</button>
    <button (click)="addToCalculation('.'); playAudio();">.</button>
    <button (click)="getTotal(); playAudio();">=</button>
    <button (click)="calculate('+'); playAudio();">+</button>
  </div>
  <div class="row">
  <button (click)="reset(); playAudio();">C</button>
  <button (click)="resetCE(); playAudio();">CE</button>
  <button (click)="backspace(); playAudio();">DEL</button>
  <button (click)="calculate('%'); playAudio();">%</button>
  </div>
  <div class="row">
    <button (click)="addToCalculation('3.14'); playAudio();">PI</button>
    <button (click)="addToCalculation('2.72'); playAudio();">e</button>
    <button (click)="calculate('sin'); playAudio();">sin</button>
    <button (click)="calculate('cos'); playAudio();">cos</button>
  </div>
  <div class="row">
    
    <button (click)="calculate('**2'); playAudio();">x2</button>
    <button (click)="calculate('**3'); playAudio();">x3</button>
    <button (click)="calculate('**y'); playAudio();">xy</button>
  </div>
</div>
